<div class="container-fluid home">

  <div class="ccc" >

     <div class="col-lg-8 col-lg-offset-1 head-container">
        <h1 class="heading">Odkryj świat książek.</h1>
       <h1 class="heading-rank"><%= link_to "ZOBACZ RANKING", ranking_path %></h1>
     </div>


</div>
</div>
<div class="container">

</div>