/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 */
@font-face {
    font-family: cabin-regular; /*a name to be used later*/
    src: url('/assets/fonts/Cabin-Regular.otf'); /*URL to font*/
}

body {
    padding-top:60px;
    background-color: #1c1c1e;
    color: #fff;
    font-family: 'cabin-regular';
    height:100%;

}
input {
    color:#000;
}
.row-equal-heights{
    display: table;

}
.row-equal-heights > [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
.navbar {
    background-color: #000;
    margin-bottom: 0;
    border-bottom: 0;
    min-height: 60px;
    text-transform: uppercase;
}
/* line 122, ../../sass/screen.scss */
.navbar .navbar-header {
    overflow: hidden;
}
/* line 125, ../../sass/screen.scss */
.navbar .navbar-header .navbar-brand {
    height: 60px;
    width: 75px;
    padding: 0;
    margin-left: 20px;
    position: relative;
    z-index: 5;
}

.navbar .navbar-header .navbar-brand > .logo {
    width: 75px;
    height: 60px;
    background-color: #000;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}
.navbar .navbar-header .navbar-brand > .logo:hover{
    background-color: #fff;
}
/* line 163, ../../sass/screen.scss */
.navbar .navbar-header .navbar-brand > .logo:before {
    content: '';
    display: block;
    width: 59px;
    height: 44px;
    margin: 8px;
    background-image: url("logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/* line 178, ../../sass/screen.scss */
.navbar .navbar-header .navbar-toggle {
    border: none;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 10px;
}
/* line 184, ../../sass/screen.scss */
.navbar .navbar-header .navbar-toggle:focus, .navbar .navbar-header .navbar-toggle:hover {
    background-color: transparent;
}
/* line 189, ../../sass/screen.scss */
.navbar .navbar-header .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 24px;
    height: 1px;
}
/* line 193, ../../sass/screen.scss */
.navbar .navbar-header .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 5px;
}
/* line 201, ../../sass/screen.scss */

/* line 205, ../../sass/screen.scss */
.navbar .navbar-nav li:hover {
    background: #fff;
}
/* line 211, ../../sass/screen.scss */
.navbar .navbar-nav > li > a {
    color: #fff;
    letter-spacing: 1px;
    padding: 10px 20px;
    min-height:60px;
    line-height: 40px;

}
/* line 217, ../../sass/screen.scss */
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:active {
    color: #000;
    outline: none;
}

    @media (max-width: 768px) {
    .navbar {
        height: 80px;

    }
     .navbar > .container{
        background: #000;
    }
        .navbar-collapse { max-height: 100% !important; }
        .navbar .navbar-header .navbar-toggle{
            margin-top: 24.5px;
            margin-bottom: 24.5px;
        }
    /* line 318, ../../sass/screen.scss */
    .navbar .navbar-header {
        overflow: visible;
    }

    /* line 321, ../../sass/screen.scss */
    .navbar .navbar-header .navbar-brand {
        height: 80px;
        width: 100px;
        margin-left: 0px;
        margin-right: 40px;
    }
    /* line 327, ../../sass/screen.scss */
    .navbar .navbar-header .navbar-brand:before, .navbar .navbar-header .navbar-brand:after {
        height: 80px;
    }
    /* line 333, ../../sass/screen.scss */
    .navbar .navbar-header .navbar-brand > .logo {
        width: 100px;
        height: 80px;
    }
    /* line 337, ../../sass/screen.scss */
    .navbar .navbar-header .navbar-brand > .logo:before {
        width: 76px;
        height: 56px;
        margin: 12px;
    }
    /* line 346, ../../sass/screen.scss */
    .navbar .navbar-nav > li > a {
        padding-left: 20px;
        padding-right: 20px;

    }
    /* line 353, ../../sass/screen.scss */
    .navbar .navbar-nav.navbar-right > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }


    /* line 368, ../../sass/screen.scss */
    .navbar .navbar-nav .icon-li {
        width: 80px;
    }
    /* line 371, ../../sass/screen.scss */
    .navbar .navbar-nav .icon-li a {
        text-align: center;
        padding-bottom: 23.5px;
    }

    /* line 378, ../../sass/screen.scss */

}
.search-bar{
    padding-top:30px;
    padding-bottom:30px;
}
.home {
    background-image: url('pexels-photo (1).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ccc {
    min-height: calc(100vh - 141px);
    color: #fff;
}
.head-container {
    padding-top:80px;


}
.heading {
    font-size: 70px;
    text-shadow: 5px 5px 8px #000;

}
.heading-rank {

    text-shadow: 5px 5px 8px #000;

}

.heading-rank > a {
    text-decoration:none;
    color:red;
}
.heading-rank > a:hover {

    color:white;
}
.book {
    background: black;
    margin-bottom: 50px;
    font-size:16px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:30px;
}
.authors > a {
    color:white;
    text-decoration:none;

}
.authors > a:hover {
    color: red;

}
.book-image {
    background-size:cover;
    background-repeat: no-repeat;
    width:200px;
    height:250px;
    background-position: center;
    margin: 0px auto;
}
.book-title {
    background: black;
    height:50px;
}
.book-title > a {
    color:white;
    text-decoration:none;
    font-size:22px;
    line-height:50px;
}
.book-title > a:hover {
    color:red;
}
.description > p {
    margin-top:15px;
    margin-bottom:15px;
}
.footer {
    background: #000;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'cabin-regular';
    color: #909090;
}
/* line 227, ../../sass/screen.scss */
.footer .row {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* line 230, ../../sass/screen.scss */
.footer .row p {
    line-height: 31px;
    margin: 0px;
}
/* line 234, ../../sass/screen.scss */
.footer .row .footer-left {
    text-align: left;
}
@media (max-width: 768px) {
    /* line 234, ../../sass/screen.scss */
    body {
        padding-top: 80px;
    }

    .ccc {
        min-height: calc(100vh - 163px);

    }
    .footer .row .footer-left {
        display: none;
    }
}
/* line 241, ../../sass/screen.scss */
.footer .row .footer-center {
    background-image: url("fttr.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 31px;
    padding: 0px;
}
/* line 250, ../../sass/screen.scss */
.footer .row .footer-right {
    text-align: right;
}
@media (max-width: 768px) {
    /* line 250, ../../sass/screen.scss */
    .footer .row .footer-right {
        display: none;
    }
}

@media screen and (min-width: 768px) {

   .navbar-right{
       margin-right:0px;
   }
}

@media (max-width: 992px) {

    /* line 432, ../../sass/screen.scss */
    .navbar .navbar-nav > li > a {
        padding-left: 6px;
        padding-right: 6px;
    }
    /* line 437, ../../sass/screen.scss */
    .navbar .navbar-nav.navbar-right > li > a {
        padding-left: 6px;
        padding-right: 6px;
    }
}
@media screen and (min-width: 992px) {

    /* line 493, ../../sass/screen.scss */
    .navbar .navbar-nav > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }
    /* line 498, ../../sass/screen.scss */
    .navbar .navbar-nav.navbar-right > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media screen and (min-width: 1200px) {

    /* line 493, ../../sass/screen.scss */
    .navbar .navbar-nav > li > a {
        padding-left: 20px;
        padding-right: 20px;
    }
    /* line 498, ../../sass/screen.scss */
    .navbar .navbar-nav.navbar-right > li > a {
        padding-left: 20px;
        padding-right: 20px;
    }
}
