/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 */

@font-face {
    font-family: cabin-regular; /*a name to be used later*/
    src: url('/assets/fonts/Cabin-Regular.otf'); /*URL to font*/
}

body {
    padding-top:60px;
    background-color: #1c1c1e;
    color: #fff;
    font-family: 'cabin-regular';
    height:100%;
    font-size: 14px;
}
input {
    color:#000;
}
.view {
    min-height: calc(100vh - 141px);
}
.row-equal-heights{
    display: table;

}
.row-equal-heights > [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
.navbar {
    background-color: #000;
    margin-bottom: 0;
    border-bottom: 0;
    min-height: 60px;
    text-transform: uppercase;
}
/* line 122, ../../sass/screen.scss */
.navbar .navbar-header {
    overflow: hidden;
}
/* line 125, ../../sass/screen.scss */
.navbar .navbar-header .navbar-brand {
    height: 60px;
    width: 75px;
    padding: 0;
    margin-left: 20px;
    position: relative;
    z-index: 5;
}

.navbar .navbar-header .navbar-brand > .logo {
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    transition: background 0.5s linear;
    width: 75px;
    height: 60px;
    background-color: #000;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}
.navbar .navbar-header .navbar-brand > .logo:hover{
    background-color: #fff;
    -webkit-transition: background 0.7s linear;
    -moz-transition: background 0.7s linear;
    -o-transition: background 0.7s linear;
    -ms-transition: background 0.7s linear;
    transition: background 0.7s linear;
}
/* line 163, ../../sass/screen.scss */
.navbar .navbar-header .navbar-brand > .logo:before {
    content: '';
    display: block;
    width: 59px;
    height: 44px;
    margin: 8px;
    background-image: url("logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/* line 178, ../../sass/screen.scss */
.navbar .navbar-header .navbar-toggle {
    border: none;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 10px;
}
/* line 184, ../../sass/screen.scss */
.navbar .navbar-header .navbar-toggle:focus, .navbar .navbar-header .navbar-toggle:hover {
    background-color: transparent;
}
/* line 189, ../../sass/screen.scss */
.navbar .navbar-header .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 24px;
    height: 1px;
}
/* line 193, ../../sass/screen.scss */
.navbar .navbar-header .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 5px;
}
/* line 201, ../../sass/screen.scss */

/* line 205, ../../sass/screen.scss */
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:active {
    transition: none;
    color: #000;
    outline: none;

}
.navbar .navbar-nav li:hover {
    -webkit-transition: background 0.7s linear;
    -moz-transition: background 0.7s linear;
    -o-transition: background 0.7s linear;
    -ms-transition: background 0.7s linear;
    transition: background 0.7s linear;
    background: #fff;
}
/* line 211, ../../sass/screen.scss */
.navbar .navbar-nav > li > a {
    color: #fff;
    letter-spacing: 1px;
    padding: 10px 20px;
    min-height:60px;
    line-height: 40px;

}
/* line 217, ../../sass/screen.scss */


    @media (max-width: 768px) {
    .navbar {
        height: 80px;

    }
     .navbar > .container{
        background: #000;
    }
        .navbar-collapse { max-height: 100% !important; }
        .navbar .navbar-header .navbar-toggle{
            margin-top: 24.5px;
            margin-bottom: 24.5px;
        }
    /* line 318, ../../sass/screen.scss */
    .navbar .navbar-header {
        overflow: visible;
    }

    /* line 321, ../../sass/screen.scss */
    .navbar .navbar-header .navbar-brand {
        height: 80px;
        width: 100px;
        margin-left: 0px;
        margin-right: 40px;
    }
    /* line 327, ../../sass/screen.scss */
    .navbar .navbar-header .navbar-brand:before, .navbar .navbar-header .navbar-brand:after {
        height: 80px;
    }
    /* line 333, ../../sass/screen.scss */
    .navbar .navbar-header .navbar-brand > .logo {
        width: 100px;
        height: 80px;
    }
    /* line 337, ../../sass/screen.scss */
    .navbar .navbar-header .navbar-brand > .logo:before {
        width: 76px;
        height: 56px;
        margin: 12px;
    }
    /* line 346, ../../sass/screen.scss */
    .navbar .navbar-nav > li > a {
        padding-left: 20px;
        padding-right: 20px;

    }
    /* line 353, ../../sass/screen.scss */
    .navbar .navbar-nav.navbar-right > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }


    /* line 368, ../../sass/screen.scss */
    .navbar .navbar-nav .icon-li {
        width: 80px;
    }
    /* line 371, ../../sass/screen.scss */
    .navbar .navbar-nav .icon-li a {
        text-align: center;
        padding-bottom: 23.5px;
    }

    /* line 378, ../../sass/screen.scss */

}
.navbar .navbar-nav > li {
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    transition: background 0.5s linear;
}
.search-bar{
    padding-top:30px;
    padding-bottom:30px;
}
.home {
    background-image: url('pexels-photo (1).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ccc {
    min-height: calc(100vh - 141px);
    color: #fff;
}
.head-container {
    padding-top:80px;


}
.heading {
    font-size: 70px;
    text-shadow: 5px 5px 8px #000;


}
.heading-rank {
    margin-top: 15px;
}
.heading-rank > a{
    font-size: 35px;
    text-shadow: 5px 5px 8px #000;

}

.heading-rank > a {
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    transition: color 0.5s linear;
    text-decoration:none;
    color:red;
}
.heading-rank > a:hover {
    -webkit-transition: color 0.7s linear;
    -moz-transition: color 0.7s linear;
    -o-transition: color 0.7s linear;
    -ms-transition: color 0.7s linear;
    transition: color 0.7s linear;
    color:white;
}
.ranking-image {
    background-repeat: no-repeat;
    background-size: contain;
    height:250px;
    width: 180px;
    margin:0px auto;
}
.book {
    min-height: 540px;
    word-wrap:break-word;
    background: black;
    margin-bottom: 50px;
    font-size:16px !important;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:30px;
}
.at {

    padding-top: 30px;
}
.authors > p{
    margin-bottom:0px;

}
.authors > a {
    color:white;
    text-decoration:none;

}
.authors > a:hover {
    color: red;

}
.aut-book > p > a {
    color:white;
    text-decoration:none;

}
.aut-book > p > a:hover {
    color: red;

}
.book-image {
    background-size:contain;
    background-repeat: no-repeat;
    width:200px;
    height:250px;
    background-position: center;
    margin: 0px auto;
}
.book-title {
    background: black;
    height:50px;
}
.book-title > a {
    color:white;
    text-decoration:none;
    font-size:22px;
    line-height:50px;
}
.book-title > a:hover {
    color:red;
}
.author-name {
    background: black;
    height:50px;
}
.author-name > p > a {
    color:white;
    text-decoration:none;
    font-size:22px;
    line-height:50px;
}
.author-name > p > a:hover {
    color:red;
}
.description > p {
    margin-top:15px;
    margin-bottom:15px;
}
.ranking-row {
    padding-top: 15px;
    padding-bottom: 15px;

    background: #000;
    margin-bottom:30px
}
.ranking-params {
    word-wrap:break-word;
}
.ranking-params > h1 > a{
    text-decoration: none;
    color: white;
    font-size: 40px;
}
.ranking-params > h1 > a:hover{
    color: red;
}
.ranking-params > h2{
    color: red;
    font-size: 35px;
}
.thors > span > a {
    text-decoration: none;
    color:white;
}
.thors > span > a:hover {
    color:red;
}
.rate{
    font-size: 100px;
    line-height: 230px;

}
.wapp {
    margin-top:30px;
}
.filter-bar {
    background: transparent;
}
.filter-container {
    padding-top: 15px;
}
.form-filter{
    margin-top:15px;
}


.btn-red {
    margin-top:15px;
    background: #ff0000;
    background-image: -webkit-linear-gradient(top, #ff0000, #cc0000);
    background-image: -moz-linear-gradient(top, #ff0000, #cc0000);
    background-image: -ms-linear-gradient(top, #ff0000, #cc0000);
    background-image: -o-linear-gradient(top, #ff0000, #cc0000);
    background-image: linear-gradient(to bottom, #ff0000, #cc0000);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: 0;
    text-shadow: 1px 1px 3px #666666;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn-red:hover {
    text-decoration: none;
}
.footer {
    background: #000;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'cabin-regular';
    color: #909090;
}
/* line 227, ../../sass/screen.scss */
.footer .row {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* line 230, ../../sass/screen.scss */
.footer .row p {
    line-height: 31px;
    margin: 0px;
}
/* line 234, ../../sass/screen.scss */
.footer .row .footer-left {
    text-align: left;
}

@media (max-width: 768px) {
    /* line 234, ../../sass/screen.scss */
    body {
        padding-top: 80px;
    }

    .ccc {
        min-height: calc(100vh - 163px);

    }
    .view {
        min-height: calc(100vh - 163px);
    }
    .footer .row .footer-left {
        display: none;
    }
}
/* line 241, ../../sass/screen.scss */
.footer .row .footer-center {
    background-image: url("fttr.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 31px;
    padding: 0px;
}
/* line 250, ../../sass/screen.scss */
.footer .row .footer-right {
    text-align: right;
}
.book-view{
    font-size:16px;
    margin-top:30px;
}
.book-row {
    background: #000;
    padding-top:30px;
    padding-bottom:30px;
    margin-bottom:30px;
}
.mt30{
    margin-top:30px;
}
.mt15{
    margin-top:15px;
}
.user-index {
    font-size:20px;
}
.b-s-a a{
    font-size:20px;
    color: white;
    text-decoration: none;
}
.b-s-a a:hover{
    color:red;
}
.btn-red > a {
    text-decoration:none;
    color:white;
}
.btn-red > a:hover {

    color:white;
}
.bk {
    color:black;
}
.select2-results__option[aria-selected]{
    color:black;
}
.select2-selection__choice{
    color:black;
}
.bk > option {
    color:black;
}
.rev-row {
    background: black;

    padding-top:15px;
    padding-bottom:15px;
}
.rev-row > h3 {
    font-size: 50px;
}
.rev-row:last-child {
    margin-bottom:30px;
}
.bb{
    border-bottom:1px solid red;
    padding-bottom:5px;
}
.pt {
    padding-top:5px;
}
.nores {
    resize: none;
}
.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: black;
    color: red;
}

.pagination span.current {
    background-color: red;
    color:black
}

.pagination .first{
    padding : 0;
    float: none;
    border: none;
}
.pagination .prev {
    padding : 0;
    float: none;
    border: none;
}
.pagination .page{
    padding : 0;
    float: none;
    border: none;
}
.pagination .next{
    padding : 0;
    float: none;
    border: none;
}
.pagination .last{
    padding : 0;
    float: none;
    border: none;
}

@media (max-width: 768px) {
    /* line 250, ../../sass/screen.scss */
    .footer .row .footer-right {
        display: none;
    }
}

@media screen and (min-width: 768px) {

   .navbar-right{
       margin-right:0px;
   }
}

@media (max-width: 992px) {

    /* line 432, ../../sass/screen.scss */
    .navbar .navbar-nav > li > a {
        padding-left: 6px;
        padding-right: 6px;
    }
    /* line 437, ../../sass/screen.scss */
    .navbar .navbar-nav.navbar-right > li > a {
        padding-left: 6px;
        padding-right: 6px;
    }
}
@media screen and (min-width: 992px) {

    /* line 493, ../../sass/screen.scss */
    .navbar .navbar-nav > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }
    /* line 498, ../../sass/screen.scss */
    .navbar .navbar-nav.navbar-right > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media screen and (min-width: 1200px) {

    /* line 493, ../../sass/screen.scss */
    .navbar .navbar-nav > li > a {
        padding-left: 20px;
        padding-right: 20px;
    }
    /* line 498, ../../sass/screen.scss */
    .navbar .navbar-nav.navbar-right > li > a {
        padding-left: 20px;
        padding-right: 20px;
    }
}
